body{
    background-color: rgba(13, 40, 66, 0.952);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.signup-box{
    width: 360px;
    height: 650px;
    margin: auto;
    padding-top: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    
}

h1{
    text-align: center;
    padding-top: 10px;
}

h4{
    text-align: center;
    padding-bottom: 15px;
}

.form{
   width: 300px;
   margin-left: 20px;
    

}
.form label{
    display: flex;
    margin-top: 20px;
    font-size: 16px;
}

.form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}

form input:hover{
    color: rgb(228, 235, 228);
    background-color: rgba(152, 110, 201, 0.479);
}
input[type="button"]{
    width: 315px;
    height: 34px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    background-color: green;
    
}

p{
    text-align: center;
    margin-top: 30px;
}

.bottom{
    margin: 10px;
    color: white;
}

.bottom a{
    color: green;
}